<plugin name='easyb' version='2.0.3-SNAPSHOT' grailsVersion='1.2.0 &gt; *'>
  <author>Richard Vowles, Gustavo Madruga, Jeffrey Erikson</author>
  <authorEmail>richard@bluetrainsoftware.com, omadruga@gmail.com</authorEmail>
  <title>Allows Grails applications to write unit, integration and functional tests. Integrates Grails unit testing features</title>
  <description>\
Groovy testing implementation of easyb - exposes all of the easyb functionality and an infrastructure to expose more testing functionality.
</description>
  <documentation>http://grails.org/plugin/easyb</documentation>
  <resources>
    <resource>BootStrap</resource>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>com.bluetrainsoftware.easyb.grails.test.controllers.AuthorController</resource>
    <resource>com.bluetrainsoftware.easyb.grails.test.domain.Author</resource>
    <resource>com.bluetrainsoftware.easyb.grails.test.domain.Book</resource>
    <resource>com.bluetrainsoftware.easyb.grails.test.service.AuthorService</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>